<div>
  <input nz-input placeholder="ID" [(ngModel)]="userId" />
</div>
<div>
  <input nz-input placeholder="Password" [(ngModel)]="userPw" />
</div>

<!-- <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <!-- <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="userName" placeholder="Username" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group> -->
    <!-- </nz-form-control>
  </nz-form-item>
</form> --> -->

<button nz-button nzType="default" [routerLink]="['/main']" >로그인하기</button>

<!-- <p>login works!</p> -->
