<div >
  <div class="login-box">
    <nz-input-group  [nzPrefix]="prefixTemplateUser">
        <input type="text" nz-input placeholder="Enter your User ID" [(ngModel)]="userId" />
    </nz-input-group>
    <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
  </div>

  <div class="login-box">
    <nz-input-group [nzPrefix]="prefixTemplateUserPw">
      <input type="text" nz-input placeholder="Enter your Password" [(ngModel)]="userPw" />
    </nz-input-group>
    <ng-template #prefixTemplateUserPw><i nz-icon nzType="lock"></i></ng-template>
  </div>



  <div class="login-button">
    <button nz-button nzType="primary" nzBlock [routerLink]="['/main']" >로그인하기!</button>
  </div>

  <nz-footer>Ant Design ©2020 Implement By Angular & Ashley Park ^^</nz-footer>
</div>
