<div class="main-wrapper">
  <div>
    <h2>MONEE BOOK</h2>

    <div class="text-box">
      <div>
        User Name
      </div>
      <textarea rows="1" nz-input [(ngModel)]="cardForm.writer" placeholder="Enter your Name"></textarea>
    </div>

    <div class="text-box">
      <div>
        User's Story
      </div>
      <textarea rows="5" nz-input [(ngModel)]="cardForm.title" placeholder="Tell me your Story"></textarea>
    </div>

    <button class="text-box" nz-button nzType="primary" nzBlock  (click)="addCard()">Post!</button>
    <router-outlet></router-outlet>
  </div>

    <nz-card nzTitle="MONEE BOOK FEED / There are {{ cardlist.length }} feeds.">

      <div *ngFor="let card of cardlist; let inx = index" class="card-wrapper">
        <nz-card nzType="inner" nzTitle="{{inx+1}}. {{card.writer}}" [nzExtra]="extraTemplate">
          <p>{{card.title}}</p>
          <a (click)="openComment()">Open / Close Comment Box</a>
          <p style="float: right; font-weight: 400;">There are {{ card.commentList.length }} comments.</p>


          <div *ngFor="let data of card.commentList; let i = index">
            <nz-comment [nzAuthor]="data.commentAuthor" [nzDatetime]="data.commentDisplayTime">
              <nz-comment-content>
                <p>{{ data.commentText }}</p>
              </nz-comment-content>
            </nz-comment>
          </div>

          <nz-comment *ngIf="isShowCommentBox">
            <nz-comment-content>
              <nz-form-item style="position: relative;">
                Author <textarea [(ngModel)]="commentForm.commentAuthor" nz-input rows="1" placeholder="Enter your Name" ></textarea>
                Commnet <textarea [(ngModel)]="commentForm.commentText" nz-input rows="1" placeholder="Enter your Opinion"></textarea>
              </nz-form-item>
              <nz-form-item>
                <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!commentForm.commentText" (click)="handleSubmit(inx)">
                  Add Comment
                </button>
              </nz-form-item>
            </nz-comment-content>
          </nz-comment>

        </nz-card>
        <ng-template #extraTemplate>
          <div class='like'>
            <i class='like-button' nz-icon nzType="heart" (click)="likeCard(card.id)"></i>
            <span>{{likeCount}} Likes.</span>
          </div>
          <div class="delete">
            <button nz-button nzType="default" nzBlock (click)="removeCard(card.id)">삭제</button>
          </div>
        </ng-template>
      </div>
    </nz-card>
</div>


<nz-footer>Ant Design ©2020 Implement By Angular & Ashley Park^^</nz-footer>
