.logo {
  font-weight: 800;
}

.menu {
  color: white;
  padding: 0 20px !important;
}

.app-wrapper{
  width: 100%;
  padding: 25px 50px 50px 25px;
}

nz-content {
  padding: 0 20px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
